* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.l-container {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .l-container {
    width: 100%;
    min-width: 375px;
    padding: 0 20px;
  }
}

.c-card {
  display: flex;
  width: 100%;
}
.c-card .c-card__category,
.c-card .c-card__description {
  color: #75757f;
  font-family: "Montserrat", sans-serif;
}
.c-card .c-card__heading,
.c-card .low__price {
  font-family: Fraunces;
  font-size: 32px;
  line-height: 100%;
}
.c-card .c-card__image {
  background-image: url("../../images/image-product-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 0 0 8px;
  height: 450px;
  width: 300px;
}
@media (max-width: 600px) {
  .c-card .c-card__image {
    background-image: url("../../images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    height: 240px;
    width: 100%;
  }
}
.c-card .c-card__info {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 28px;
}
.c-card .c-card__info .c-card__category {
  letter-spacing: 6px;
  text-transform: uppercase;
}
.c-card .c-card__info .c-card__description {
  font-size: 14px;
  line-height: 130%;
}
.c-card .c-card__info .c-card__price {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.c-card .c-card__info .c-card__price .low__price {
  color: hsl(158deg, 36%, 37%);
}
.c-card .c-card__info .c-card__price .full__price {
  color: #75757f;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding-left: 24px;
  text-decoration: line-through;
  width: 100%;
}
.c-card .c-card__info .c-card__button {
  background-color: hsl(158deg, 36%, 37%);
  border-radius: 8px;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  height: 48px;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.c-card .c-card__info .c-card__button .btn__label {
  line-height: 48px;
}
.c-card .c-card__info .c-card__button:hover {
  background-color: #1a4031;
}
.c-card .c-card__info .c-card__button::before {
  content: "";
  background-image: url("../../images/icon-cart.svg");
  background-position: 8px;
  background-repeat: no-repeat;
  display: block;
  width: 32px;
}
@media (max-width: 600px) {
  .c-card .c-card__info {
    border-radius: 0 0 20px 20px;
    min-height: 375px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .c-card {
    flex-direction: column;
  }
}

body {
  background-color: hsl(30deg, 38%, 92%);
  font-family: "Montserrat";
}
body .attribution {
  margin: 16px;
  text-align: center;
}