//====================================================================
// Colors
//====================================================================
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$secundary-color: #1a4031;
$dark-blue-color: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$light: hsl(0, 0%, 100%);
$dark: #15181f;
$gray: #75757f;

