.c-card {
  display: flex;
  width: 100%;

  .c-card__category,
  .c-card__description {
    color: $gray;
    font-family: "Montserrat", sans-serif;
  }

  .c-card__heading,
  .low__price {
    font-family: Fraunces;
    font-size: 2em;
    line-height: 100%;
  }

  .c-card__image {
    height: 450px;
    width: 300px;

    img {
      border-radius: 8px 0 0 8px;
      width: 100%;
    }

    @media (max-width: 600px) {
      height: 240px;
      width: 100%;

      img {
        border-radius: 20px 20px 0 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .c-card__info {
    background-color: $light;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 28px;

    .c-card__category {
      letter-spacing: 6px;
      text-transform: uppercase;
    }

    .c-card__description {
      font-size: 0.875em;
      line-height: 130%;
    }

    .c-card__price {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .low__price {
        color: $dark-cyan;
      }

      .full__price {
        color: $gray;
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 0.875em;
        padding-left: 24px;
        text-decoration: line-through;
        width: 100%;
      }
    }

    .c-card__button {
      background-color: $dark-cyan;
      border-radius: 8px;
      border: 0;
      color: $light;
      cursor: pointer;
      display: flex;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      height: 48px;
      justify-content: center;
      text-align: center;
      width: 100%;

      .btn__label {
        align-items: center;
        display: flex;
        line-height: 48px;

        img {
          margin-right: 8px;
        }
      }

      &:hover {
        background-color: $secundary-color;
      }
    }

    @media (max-width: 600px) {
      border-radius: 0 0 20px 20px;
      min-height: 375px;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
