* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
